$body-bg: #222831;

$primary: #FF993A;
$secondary: #222831;
$danger: #393E46;
$success: #EEEEEE;
$warning: #FF993A;
$info: #14171b;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark
) !default;
